<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Education</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table">
          <tbody>
             <tr>
              <td>Indian Institute of Technology, Bombay   </td>
              <td>2019-present   </td>
              <td></td>
            </tr>
            <tr>
              <td>Indian Institute of Technology, Palakkad   </td>
              <td>2015-2019   </td>
              <td>8.85</td>
            </tr>
            <tr>
              <td>Kuriakose Elias English Medium School, Mannanam  </td>
              <td>2013-2015   </td>
              <td>96.9</td>
            </tr>
          </tbody>
        </table>
    </div>
    
</section>
